In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
df= pd.read_csv(r"C:\Users\computer\Desktop\BEATRICE\ML Journey\fruit_classification_dataset.csv")

In [5]:
df.head()

    Color      Weight  Fruit
0     Red  176.055567  Apple
1  Yellow  136.975682   Pear
2   Green  129.092192   Pear
3  Yellow  136.766429   Pear
4     Red  197.856507  Apple

In [8]:
df.tail()

      Color      Weight  Fruit
994   Brown   85.915387   Kiwi
995  Yellow  138.690989   Pear
996   Green  189.701882  Apple
997  Yellow  138.800173   Pear
998   Green   96.371614   Kiwi

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Color   999 non-null    object
 1   Weight  999 non-null    float64
 2   Fruit   999 non-null    object
dtypes: float64(1), object(2)
memory usage: 23.5+ KB

In [7]:
df.nunique()

Color       4
Weight    999
Fruit       3
dtype: int64

In [18]:
print (df.shape)
print (df['Fruit'].unique())
print (df.groupby('Fruit').size())

(999, 3)
['Apple' 'Pear' 'Kiwi']
Fruit
Apple    333
Kiwi     333
Pear     333
dtype: int64

In [20]:
import seaborn as sns
sns.countplot(df['Fruit'], label='Count')
plt.show()

ValueError: could not convert string to float: 'Apple'